In [3]:
import pandas as pd

In [4]:
s = pd.Series(list('auhauahsu'))

In [5]:
s

0    a
1    u
2    h
3    a
4    u
5    a
6    h
7    s
8    u
dtype: object

In [6]:
s.unique()

array(['a', 'u', 'h', 's'], dtype=object)

In [7]:
s.value_counts()

a    3
u    3
h    2
s    1
Name: count, dtype: int64

In [8]:
dados = pd.read_csv('aluguel.csv', sep = ';')

In [9]:
dados.Tipo.unique()

array(['Quitinete', 'Casa', 'Conjunto Comercial/Sala', 'Apartamento',
       'Casa de Condomínio', 'Prédio Inteiro', 'Flat', 'Loja/Salão',
       'Galpão/Depósito/Armazém', 'Casa Comercial', 'Casa de Vila',
       'Terreno Padrão', 'Box/Garagem', 'Loft',
       'Loja Shopping/ Ct Comercial', 'Chácara', 'Loteamento/Condomínio',
       'Sítio', 'Pousada/Chalé', 'Studio', 'Hotel', 'Indústria'],
      dtype=object)

In [10]:
dados.Tipo.value_counts()

Tipo
Apartamento                    19532
Conjunto Comercial/Sala         6815
Loja/Salão                      1426
Casa de Condomínio               996
Casa                             967
Quitinete                        836
Galpão/Depósito/Armazém          623
Flat                             476
Prédio Inteiro                   301
Casa Comercial                   265
Casa de Vila                     249
Loja Shopping/ Ct Comercial      247
Box/Garagem                       82
Terreno Padrão                    70
Loft                              51
Sítio                             10
Loteamento/Condomínio              5
Studio                             4
Hotel                              2
Chácara                            1
Pousada/Chalé                      1
Indústria                          1
Name: count, dtype: int64