In [38]:
import pandas as pd

In [39]:
dados = pd.read_csv('aluguel.csv', sep = ';')
dados.head(10)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
5,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
6,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
7,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,NaN,NaN
8,Casa de Condomínio,Ramos,2,2,0,65,1000.0,NaN,NaN
9,Conjunto Comercial/Sala,Centro,0,3,0,695,35000.0,19193.0,3030.0

In [40]:
# 1 e 2
# 3 e 4
# 5 e 6
# 7 e 8
classes = [0, 2, 4, 6, 100]

In [41]:
quartos = pd.cut(dados.Quartos, classes)

In [42]:
quartos

0        (0.0, 2.0]
1        (0.0, 2.0]
2               NaN
3        (0.0, 2.0]
4        (0.0, 2.0]
            ...
32955           NaN
32956    (2.0, 4.0]
32957    (0.0, 2.0]
32958    (0.0, 2.0]
32959           NaN
Name: Quartos, Length: 32960, dtype: category
Categories (4, interval[int64, right]): [(0, 2] < (2, 4] < (4, 6] < (6, 100]]

In [43]:
pd.value_counts(quartos)

C:\Users\joaop\AppData\Local\Temp\ipykernel_11472\2908359106.py:1: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  pd.value_counts(quartos)

Quartos
(0, 2]      12419
(2, 4]       9894
(4, 6]        709
(6, 100]       87
Name: count, dtype: int64

In [51]:
labels = ['1 e 2 quartos', '3 e 4 quartos', '4 e 6 quartos', '7 quartos ou mais']

In [57]:
quartos = pd.cut(dados.Quartos, classes, labels = labels)

In [59]:
pd.value_counts(quartos)

C:\Users\joaop\AppData\Local\Temp\ipykernel_11472\2908359106.py:1: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  pd.value_counts(quartos)

Quartos
1 e 2 quartos        12419
3 e 4 quartos         9894
4 e 6 quartos          709
7 quartos ou mais       87
Name: count, dtype: int64

In [61]:
quartos = pd.cut(dados.Quartos, classes, labels = labels, include_lowest = True)

In [63]:
pd.value_counts(quartos)

C:\Users\joaop\AppData\Local\Temp\ipykernel_11472\2908359106.py:1: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  pd.value_counts(quartos)

Quartos
1 e 2 quartos        22270
3 e 4 quartos         9894
4 e 6 quartos          709
7 quartos ou mais       87
Name: count, dtype: int64